@import "/src/Vars.scss";


.wrap {
    color: $colorBrown;
}
.title {
    // font-size: 450px;
    font-size: clamp(5rem, -1.885rem + 28.24vw, 28.125rem);
    position: relative;
    bottom: clamp(0rem, -2.233rem + 9.16vw, 7.5rem);
    // padding-bottom: 50px;
    line-height: 0.8;
    z-index: -1;
    text-align: center;

}


.text {
    text-align: center;
    // font-size: 30px;
    font-size: clamp(1rem, 0.74rem + 1.07vw, 1.975rem);
    line-height: 1.2;
    margin-top: 20px;
}